<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>492439604780-nl9kvvfpatmpp6t0v0hpfjqmf5f8s4gk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492439604780-nl9kvvfpatmpp6t0v0hpfjqmf5f8s4gk</string>
	<key>API_KEY</key>
	<string>AIzaSyBundzMcYKaqY0hilZZSre1fdK8Z_MSwm0</string>
	<key>GCM_SENDER_ID</key>
	<string>492439604780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aula.FirebaseEmailLogin</string>
	<key>PROJECT_ID</key>
	<string>fir-emaillogin-bd416</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-emaillogin-bd416.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:492439604780:ios:0b2c23adcbda46b0</string>
	<key>DATABASE_URL</key>
	<string>https://fir-emaillogin-bd416.firebaseio.com</string>
</dict>
</plist>
